<!DOCTYPE html>
<html>
<head>
  <title>UwU</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="neko.rs" property="og:title">
  <meta content=":3" property="og:description">
  <meta name="theme-color" content="#E91E63">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-800 w-screen h-screen flex justify-center items-center flex-col">
  <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 pb-12">
    <div class="text-center text-3xl font-bold text-pink-200">
      you are user #{{id}}
    </div>
  </div>
  <div class="flex gap-8 flex-row md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex">
    <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex bg-pink-200 rounded-lg">
      <a class="text-center text-3xl font-bold text-slate-800" href="/link/discord">
        link discord
      </a>
    </div>
    <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex bg-pink-200 rounded-lg">
      <a class="text-center text-3xl font-bold text-slate-800" href="/link/steam">
        link steam
      </a>
    </div>
  </div>
  <div class="flex gap-8 flex-row md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex">
    <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex bg-pink-200 rounded-lg">
      <a class="text-center text-3xl font-bold text-slate-800" href="/link/github">
        link github
      </a>
    </div>
    <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex bg-pink-200 rounded-lg">
      <a class="text-center text-3xl font-bold text-slate-800" href="/link/anilist">
        link anilist
      </a>
    </div>
    <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 flex bg-pink-200 rounded-lg">
      <a class="text-center text-3xl font-bold text-slate-800" href="/link/minecraft">
        link minecraft
      </a>
    </div>
  </div>
  <div class="flex gap-8 flex-col md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 pt-12">
    <a class="text-center text-xl font-bold text-pink-200" href="/logout">
      logout
    </a>
  </div>
</body>
</html>
